# Servidor
PORT=4000
HOST=0.0.0.0

# JWT
JWT_SECRET=your_secret_key_here
JWT_EXPIRES_IN=24h

# Base de datos (sqlite | mysql)
DB_DIALECT=sqlite

# Solo si DB_DIALECT=mysql
# DB_HOST=localhost
# DB_PORT=3306
# DB_USER=root
# DB_PASSWORD=
# DB_NAME=sportclub
